<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Jogos</h3>
  </div>
  <div class="panel-body">
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th>Jogo</th>
		      <th>Dia</th>
		      <th>Tipo do Jogo</th>
		    </tr>
		  </thead>

		  <tbody>
		  	<% contador = 0 %>
		    <% @jogos.each do |jogo| %>
		      <tr>
		        <td><%= (contador += 1).to_s + 'ยบ' %></td>
		        <td><%= link_to(("#{jogo.dia.strftime('%d/%m/%Y')} <i class='fa fa-external-link' aria-hidden='true'></i>".html_safe if !jogo.dia.nil?), {controller: :jogos_jogadores, action: :buscar_jogadores_jogo, jogo_id: jogo.id}, title: 'Ver detalhes do jogo.') %></td>
		        <td><%= jogo.tipo_jogo %></td>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
  </div>
</div>
